<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<filter>
		<filter-name>FilterHeadears</filter-name>
		<filter-class>filters.HeadersFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterHeadears</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- ******************************************************** -->
	
	<servlet>
		<servlet-name>Driving</servlet-name>
		<display-name>Driving</display-name> 
		<servlet-class>controller.Driving</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<display-name>SignUp</display-name> 
		<servlet-class>controller.SignUp</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<display-name>EditProfile</display-name>
		<description></description>
		<servlet-class>controller.EditProfile</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ComparePrice</servlet-name>
		<display-name>ComparePrice</display-name>
		<description></description>
		<servlet-class>controller.ComparePrice</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Buy</servlet-name>
		<display-name>Buy</display-name> 
		<servlet-class>controller.Buy</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>History</servlet-name>
		<display-name>History</display-name> 
		<servlet-class>controller.History</servlet-class>
	</servlet>
	
	
	
	<!-- ******************************************************** -->   
	
	<servlet>
		<servlet-name>AEDGProduct</servlet-name>
		<display-name>AEDGProduct</display-name>
		<servlet-class>controller.AEDGProduct</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdDetails</servlet-name>
		<display-name>AdDetails</display-name>
		<servlet-class>controller.AdDetails</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ReservationValidate</servlet-name>
		<display-name>ReservationValidate</display-name> 
		<servlet-class>controller.ReservationValidate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ReservationProduct</servlet-name>
		<display-name>ReservationProduct</display-name> 
		<servlet-class>controller.ReservationProduct</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MyPubs</servlet-name>
		<display-name>MyPubs</display-name> 
		<servlet-class>controller.MyPubs</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Weather</servlet-name>
		<display-name>Weather</display-name> 
		<servlet-class>controller.Weather</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ADSProfil</servlet-name>
		<display-name>ADSProfil</display-name> 
		<servlet-class>controller.ADSProfil</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name> 
		<servlet-class>controller.Login</servlet-class>
	</servlet>
 
 <!-- *************************************************************************** -->
 
 
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/History</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Buy</servlet-name>
		<url-pattern>/Buy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Driving</servlet-name>
		<url-pattern>/Driving</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AEDGProduct</servlet-name>
		<url-pattern>/AEDGProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdDetails</servlet-name>
		<url-pattern>/AdDetails</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MyPubs</servlet-name>
		<url-pattern>/MyPubs</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReservationValidate</servlet-name>
		<url-pattern>/ReservationValidate</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReservationProduct</servlet-name>
		<url-pattern>/ReservationProduct</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Weather</servlet-name>
		<url-pattern>/Weather</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ADSProfil</servlet-name>
		<url-pattern>/ADSProfil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/editprofile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ComparePrice</servlet-name>
		<url-pattern>/compare</url-pattern>
	</servlet-mapping>
	
</web-app>
