<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<filter>
		<filter-name>FilterHeadears</filter-name>
		<filter-class>filters.HeadersFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterHeadears</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ADSProduct</servlet-name>
		<display-name>ADSProduct</display-name>
		<servlet-class>controller.ADSProduct</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>EDProduct</servlet-name>
		<display-name>EDProduct</display-name>
		<servlet-class>controller.EDProduct</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ReservationValidate</servlet-name>
		<display-name>ReservationValidate</display-name> 
		<servlet-class>controller.ReservationValidate</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ReservationProduct</servlet-name>
		<display-name>ReservationProduct</display-name> 
		<servlet-class>controller.ReservationProduct</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MyPubs</servlet-name>
		<display-name>MyPubs</display-name> 
		<servlet-class>controller.MyPubs</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Weather</servlet-name>
		<display-name>Weather</display-name> 
		<servlet-class>controller.Weather</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ADSProfil</servlet-name>
		<display-name>ADSProfil</display-name> 
		<servlet-class>controller.ADSProfil</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name> 
		<servlet-class>controller.Login</servlet-class>
	</servlet>
 
 <!-- *************************************************************************** -->
 
 
	<servlet-mapping>
		<servlet-name>ADSProduct</servlet-name>
		<url-pattern>/ADSProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EDProduct</servlet-name>
		<url-pattern>/EDProduct</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MyPubs</servlet-name>
		<url-pattern>/MyPubs</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReservationValidate</servlet-name>
		<url-pattern>/ReservationValidate</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReservationProduct</servlet-name>
		<url-pattern>/ReservationProduct</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Weather</servlet-name>
		<url-pattern>/Weather</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ADSProfil</servlet-name>
		<url-pattern>/ADSProfil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
</web-app>
